* {box-sizing:border-box}
body
{
    background-color: lightgray;
}
header
{
    background-color: white;
    width: 1200px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
}

header h1
{
    width: 300px;
        font-size: xx-large;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 60px;
    margin-left: 40px;
}
nav ul li:first-child
{
    margin-left: 100px;
}
nav ul
{
    display:block;
    float: right;
    height: 90px;
    line-height: 90px;
    margin-right: 50px;
    margin-top: -30px;
    border: dotted 1px lightgrey;

}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
    height: 90px;
    


}
li a
{
    text-decoration: none;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

li a:hover
{
    color: black;
}
li:hover
{
    border-bottom: 5px blue solid;

}


article:first-child
{
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
article:nth-child(2)
{
    background-color: white;
    width: 1200px;
    height: 570px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

article:nth-child(2) h2
{
    position: absolute;

    width: 470px;
    height: 100px;
    line-height: 100px;
    padding-left: 40px;
    margin-top: -35px;
    margin-left: 40px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #CC9999;
}

#divOne
{
    display: block;
    padding-top: 140px;
    padding-left: 100px;
}

#divOne i
{
    display: block;
    float: left;
    width: 100px;
    height: 80px;
    font-size: 70px;
  color: #09F;

}
#divOne p
{
display: block;
float: right;
width: 710px;
height: 95px;
margin-right: 210px;
line-height: 1.9;
color: grey;
font-weight: 500;
font-size: 17px;

font-family: Arial, Helvetica, sans-serif;
margin-top: -15px;
}

#divtwo
{
    display: block;
    padding-top: 140px;
    padding-left: 100px;
}

#divtwo i
{
    display: block;
    float: left;
    width: 100px;
    height: 80px;
    font-size: 70px;
  color: #09F;
  margin-left: 20px;

}
#divtwo p
{
display: block;
float: right;
width: 710px;
height: 95px;
margin-right: 210px;
line-height: 1.9;
color: grey;
font-weight: 500;
font-size: 17px;

font-family: Arial, Helvetica, sans-serif;
margin-top: -15px;
}


#divthree
{
    display: block;
    padding-top: 140px;
    padding-left: 100px;
}

#divthree i
{
    display: block;
    float: left;
    width: 100px;
    height: 80px;
    font-size: 70px;
  color: #09F;
  margin-left: 14px;

}
#divthree p
{
display: block;
float: right;
width: 710px;
height: 95px;
margin-right: 210px;
line-height: 1.9;
color: grey;
font-weight: 500;
font-size: 17px;

font-family: Arial, Helvetica, sans-serif;
margin-top: -15px;
}


 
 

article:nth-child(3)
{
    background-color: white;
    width: 1200px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article:nth-child(3) p:first-child
{


width: 440px;
    height: 80px;
    line-height: 80px;
    background-color: #CC9999;
    color: white;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    margin-left: 30px;
}

#first
{
    display: block;
    float: left;
    width: 480px;
    margin-left: 80px;
    margin-top: 30px;
}

#last
{
    display: block;
    float: right;
    width: 480px;
    margin-right: 80px;
    margin-top: 30px;

}

#first p
{
    line-height: 1.9;
color: grey;
font-weight: 500;
font-size: 17px;
font-family: Arial, Helvetica, sans-serif;
margin-top: 30px;
}

#last p
{
    line-height: 1.9;
    color: grey;
    font-weight: 500;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

article:last-child
{
    background-color: white;
    width: 1200px;
    height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article:last-child p
{


width: 440px;
    height: 80px;
    line-height: 80px;
    background-color: #CC9999;
    color: white;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    margin-left: 30px;
}

article:last-child div
{
    display: block;
 width: 1100px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 30px;
}

article:last-child div img
{
    padding: 10px;
}

article:last-child div img:first-child 
{
    padding-left: 30px;
}


article:last-child div img:nth-child(5)

{
    padding-left: 30px;

} 



footer
{
    background-color: white;
    width: 1200px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;


}


footer span 
{
    display: block;

float: right;
margin-right: 30px;
color: grey;
}

